<header class="text-white flex justify-center items-center w-full">
    <h1 class="text-2xl capitalize w-full text-center">Collab workspace</h1>
    @if (userService.currentUser()) {
        <span class="current-user mx-4">{{userService.currentUser()?.name}}</span>
        <button class="cursor-pointer mx-4" (click)="logout()">Logout</button>
    } @else {
        <button> <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a> </button>
    }
</header>
<main>
    <ng-content></ng-content>
</main>
<footer class="text-white flex justify-end items-center">
<span class="text-sm px-2">
    Made with ❤️ by <a href="https://cristhian-richard.com" target="_blank">Cristhian Richard</a>
</span>
</footer>